@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

// ↑Noto Sans JP,Noto Serif JP
html {
  font-family: 'Noto Serif JP', serif;
  height: 100vh;
}

// ページ遷移
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.4s;
}
